<head>
  <link rel="stylesheet" type="text/css" href="../assets/css/homepage.css">
  <link rel="stylesheet" type="text/css" href="../assets/iconfonts/flaticon.css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <script src="../assets/js/homepage.js"></script>
</head>

<body>
<div id="toppage"></div>
<div class="imagebackground">
  <section class="cd-intro">
      <h1 class="cd-headline letters type">
        <br>
        <span class="ui inverted centered header" style="padding-top:30px;font-family: 'Kaushan Script', cursive;font-size:60px">Andrew Kim</span><br>
        <span>Web Developer & </span>
        <span class="cd-words-wrapper waiting">
          <b class="is-visible">Yelp Elite</b>
          <b>Sports Enthusiast</b>
          <b>Avid Hiker</b>
        </span>
      </h1>
  </section>
</div>
<div class="ui vertical feature raised blue segment features-session" style="background-color:gray">
  <div class="ui centered page grid" style="margin-bottom:35px;" id="projects">
    <div class="fourteen wide column">
      <div class="ui three column center aligned stackable divided grid">
        <!--  -->
        <div class="column column-feature" style="margin-top:55px">
            <span class="helper"></span>
            <button class="ui inverted blue basic button" id="p1" style="width:150px">See Othello!</button><br><br>
            <span class="helper"></span>
            <button class="ui inverted blue basic button" id="p2" style="width:150px">See CliMate!</button><br><br>
            <span class="helper"></span>
            <button class="ui inverted blue basic button" id="p3" style="width:150px">See TopOut!</button>
        </div>
        <!--  -->
        <div class="column column-feature" style="margin-top:55px">
          <div class="ui icon header" id="project">
            <span class="helper"></span><img style="width:275px;height:auto;position:relative" class="macbook" src="../assets/images/macbookhover.png">
          </div>
        </div>
        <div class="column column-feature" style="margin-top:55px">
          <div class="ui icon header" id="link">
            <a href="https://github.com/andyjinkim"><img style="width:100px;height:auto" src="../assets/images/octocat3.png" /></a>
          </div>
          <p style="color:white" id="github">For detailed information on projects, click on the Octocat, or click the Macbook for a larger image!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- //////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////// -->

<div class="ui vertical feature raised blue segment features-session" style="background-color:gray" id="contact">
  <div class="ui centered page grid" style="margin-bottom:35px">
    <div class="fourteen wide column">
      <div class="ui three column center aligned stackable divided grid" style="margin-bottom:10px">
        <!--  -->
        <div class="column column-feature" style="margin-top:55px">
            <!-- <span class="helper"></span> -->
            <div class="image">
              <img style="border-radius:90%" src="../assets/images/headshot.jpg" />
            </div>
        </div>
        <div>
          <!-- <p>This guy is Andy.</p> -->
          <!-- <p>He's a Web Developer and ready to help your company!</p> -->
        </div>
        <!--  -->
        <!-- <div class="column column-feature" style="margin-top:55px">
          <div class="ui icon header">
            <span class="helper"></span><img style="width:275px;height:auto" class="macbook" src="../assets/images/macbook.png">
          </div>
        </div> -->
        <div class="column column-feature" style="margin-top:55px">
          <span class="helper"></span>
          <div class="ui list">
            <div class="item" style="color:white">
              <i class="users icon"></i>
              <div class="content">
                Andy Kim
              </div>
            </div>
            <div class="item" style="color:white">
              <i class="github icon"></i>
              <div class="content">
                <a href="http://www.github.com/andyjinkim" style="color:white">Andy's GitHub</a>
              </div>
            </div>
            <!--  -->
            <div class="item" style="color:white">
              <i class="mail icon"></i>
              <div class="content">
                <a href="mailto:andyjinkim@gmail.com" style="color:white">andyjinkim@gmail.com</a>
              </div>
            </div>
            <div class="item" style="color:white">
              <i class="linkedin icon"></i>
              <div class="content">
                <a href="http://www.linkedin.com/in/andyjinkim" style="color:white">Andy's LinkedIn</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="ui modal">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img style="width:600px;height:auto;position:relative;margin: 0 auto" src="../assets/images/macbookp1.png">
          <!-- <div style="height:129px;width:205px;position:absolute;top:24;left:225" id="project"><img style="height:282px;width:450px" src="../assets/images/project1.png" /></div> -->
        </li>
        <li>
          <img style="width:600px;height:auto;position:relative;margin:0 auto" src="../assets/images/macbookp2.png">
          <!-- <div style="height:129px;width:205px;position:absolute;top:24;left:225" id="project"><img style="height:282px;width:450px" src="../assets/images/project2.png" /></div> -->
        </li>
        <li>
          <img style="width:600px;height:auto;position:relative;margin:0 auto" src="../assets/images/macbookp3.png">
          <!-- <div style="height:129px;width:205px;position:absolute;top:24;left:225" id="project"><img style="height:282px;width:450px" src="../assets/images/project3.png" /></div> -->
        </li>
      </ul>
    </div>

    <!-- <img style="width:295px;height:auto;position:relative" class="macbook" src="../assets/images/macbook.png">
    <div style="height:129px;width:205px;position:absolute;top:12;left:35" id="project"><img style="height:139px;width:223px" src="../assets/images/project1.png" /></div>
    <img style="width:295px;height:auto;position:relative" class="macbook" src="../assets/images/macbook.png">
    <div style="height:129px;width:205px;position:absolute;top:12;left:336" id="project"><img style="height:139px;width:223px" src="../assets/images/project2.png" /></div>
    <img style="width:295px;height:auto;position:relative" class="macbook" src="../assets/images/macbook.png">
    <div style="height:129px;width:205px;position:absolute;top:12;left:635" id="project"><img style="height:139px;width:223px" src="../assets/images/project3.png" /></div> -->
  </div>

</body>
